@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #453e3c;
  --color-secondary: #6a6867;
  --color-accent: #009f3b;
  --color-accent-light: #4b9d69;
  --color-accent-2: #ecb881;
  --color-active-link: #007a2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --color-accent-2: var(--color-accent-2);
  --color-active-link: var(--color-active-link);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
